@using fletnix.Models
@model fletnix.Models.Movie
@{
    Layout = "_AdminLayout";
    ViewBag.indicator = "Editting: " + Model.Title + " ("+Model.PublicationYear+")";
}

@section stylesheets {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" rel="stylesheet"/>
}

<div class="container-fluid" ng-controller="movie.edit.controller" style="background-color: white; padding-top: 45px; padding-bottom: 45px;">
<div class="row">
    <div class="col-md-10">
        <h3>Editing Movie</h3>
    </div>
    <div class="col-md-2">
        <a asp-action="Index"> <button style="background-color: white; border: 1px solid #CCC; color: black;" class="btn fletnix-btn">Back to List</button></a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit">
            <div class="form-horizontal" style="padding: 25px; text-align: left;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MovieId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="MovieId" class="form-control"/>
                        <span asp-validation-for="MovieId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control"/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Duration" placeholder="Duration in minutes" class="form-control"/>
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationYear" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PublicationYear" class="form-control"/>
                        <span asp-validation-for="PublicationYear" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PreviousPart" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PreviousPart" class="form-control" style="width: 40%;" id="previousPart">
                            @if (Model.PreviousPartNavigation != null)
                            {
                                <option selected value="@Model.PreviousPartNavigation.MovieId">@("(" + Model.PreviousPartNavigation.PublicationYear + ") " + Model.PreviousPartNavigation.Title)</option>
                            }
                        </select>
                        <span asp-validation-for="PreviousPart" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Url" class="form-control"/>
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Genre</label>
                    <div class="col-md-10">
                        <select id="genreSelect" class="form-control">
                            <option></option>
                            @foreach (var genre in (List<Genre>) ViewData["Genres"])
                            {
                                <option value="@genre.GenreName">@genre.GenreName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save changes" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <div class="shadow" style="cursor: pointer; padding: 10px; text-align: center; width: 95%; background-color: white; min-height: 540px;">
            <div id="preview-loader">

                <div style="margin-top: 55%;" class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>

                Trying to retrieve cover...

            </div>

            <img width="100%" style="display: none;" id="preview">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-users" aria-hidden="true"></i> Movie cast
        </h3>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="cast" class="table table-striped table-bordered">
            <thead>
            <th>Gender</th>
            <th>Name</th>
            <th>Role</th>
            <th></th>
            <th></th>
            </thead>
            @foreach (var cast in Model.MovieCast)
            {
                if (cast.Person.Gender == null)
                {
                    cast.Person.Gender = "M";
                }

                <tr>
                    <td>
                        (@cast.Person.Gender) <img height="30px" src="~/images/@(cast.Person.Gender + "cast.png")"/>
                    </td>
                    <td>
                        @cast.Person.Firstname @cast.Person.Lastname
                    </td>
                    <td>
                        @cast.Role
                    </td>
                    <td>
                        <span style="cursor: pointer;" onClick="editCastMember('@cast.PersonId', '@(cast.Person.Firstname + ' ' + cast.Person.Lastname)', '@cast.Role')">Edit</span>
                    </td>
                    <td>
                        <span style="cursor: pointer;" onClick="deleteCastMember(@cast.PersonId, @Model.MovieId, '@(cast.Person.Firstname + ' ' + cast.Person.Lastname)')">Delete</span>
                    </td>
                </tr>
            }
        </table>
    </div>


    <!--<div class="col-md-1">
        <div data-toggle="modal" data-target="#castmodel" onclick="newCastmember()" style="border: 1px dashed #CCCCCC; cursor: pointer; min-height: 150px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <i style="font-size: 48px; color: #CCCCCC; padding-top: 50px;" class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>-->
</div>

<div class="row">
    <div class="col-md-12">
        <button class="pull-right btn btn-default fletnix-btn fletnix-red-background" onclick="newCastmember()" style="margin-top: -70px; color: white;">Add new cast member</button>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-user-secret" aria-hidden="true"></i> Movie Directors
        </h3>
        <hr>
    </div>
</div>


<div class="row">

    @foreach (var director in Model.MovieDirector)
    {
        if (director.Person.Gender == null)
        {
            director.Person.Gender = "M";
        }

        <div class="col-md-1 movie-director">
             <div class="row">
                <div class="col-md-12">
                    <img src="~/images/@(director.Person.Gender + "cast.png")" width="100%"/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12 text-center">
                    @director.Person.Firstname @director.Person.Lastname<br>Director
                </div>
            </div>

            <div onclick="removeDirector('@director.Person.Firstname @director.Person.Lastname','@director.PersonId','@director.MovieId')" class="movie-director-delete-box">Remove</div>
        </div>
    }

    <div class="col-md-1">
        <div onclick="toggleDirectorModal()" style="border: 1px dashed #CCCCCC; cursor: pointer; min-height: 150px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <i style="font-size: 48px; color: #CCCCCC; padding-top: 50px;" class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<br><br>

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-trophy" aria-hidden="true"></i> Movie Awards
        </h3>
        <hr>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <table id="awards" class="table table-striped table-bordered">
            <thead>
            <th>Award</th>
            <th>Type</th>
            <th>Person</th>
            <th>Result</th>
            <th></th>
            </thead>
            <tbody>
            @foreach (var awards in Model.MovieAward)
            {

                if (awards.Person.Gender == null)
                {
                    awards.Person.Gender = "M";
                }

                <tr>
                    <td>
                        <img src="~/images/@(awards.Name + ".png")" width="30"/> @awards.Name
                    </td>
                    <td>
                        @awards.Type
                    </td>
                    <td>
                        @awards.Person.Firstname @awards.Person.Lastname
                    </td>
                    <td>
                        @awards.Result
                    </td>
                    <td>
                       <span style="cursor: pointer;" onclick="deleteAward('@awards.Person.Firstname @awards.Person.Lastname','@awards.Name','@awards.Type','@awards.PersonId','@awards.MovieId','@awards.Year')">Delete</span>
                    </td>
                </tr>

            }
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <button class="pull-right btn btn-default fletnix-btn fletnix-red-background" onclick="toggleMovieAwardModal()" style="margin-top: -70px; color: white;">Add new award</button>
            </div>
        </div>
    </div>


    <!--<div class="col-md-1">
        <div data-toggle="modal" data-target="#castmodel" style="border: 1px dashed #CCCCCC; cursor: pointer; min-height: 150px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <i style="font-size: 48px; color: #CCCCCC; padding-top: 50px;" class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>-->

</div>



</div>

<!--
<div class="crudfooter" style="position: fixed; bottom: 0; width: 100vw; padding: 15px;  height: 90px; background-color: white; border-top: 1px solid #cccccc">
    <div class="pull-right">
        <button class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;"> Save changes </button>
    </div>
</div>-->


<div class="modal fade" id="memberModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Cast member</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" id="castmemberform" action="/api/moviecast">
                        <input type="hidden" id="castMovie" name="MovieId" value="@Model.MovieId"/>
                        <div class="col-md-3">
                            <div style="padding: 10px; text-align: center; width: 95%; background-color: white;">
                                <img src="~/images/mcast.png" width="100%"/>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:#CCCCCC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque orci eget erat dignissim suscipit. Ut sagittis mi sed leo dapibus, ut tempor enim fringilla. Quisque auctor et nisi vitae scelerisque. Curabitur feugiat lorem et augue cursus, at finibus mi dictum. Integer vulputate dui id elit venenatis ultricies.</p>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Person</label>
                                        <div class="col-md-10">
                                            <select class="form-control personSearch" style="width: 100%;" ></select>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px; margin-bottom: 25px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Role</label>
                                        <div class="col-md-10">
                                            <input id="castRole" type="text" name="Role" class="form-control"/>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-action="Create" asp-controller="Person" asp-route-ref="@Model.MovieId" asp-route-editType="moviecast"><button type="button" class="btn btn-default fletnix-btn pull-left" style="color: black; border: 1px solid #CCCCCC; background-color: white;">Add new person</button></a>
                <button type="button" class="btn btn-default fletnix-btn " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" id="submitAddCast" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="directorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Add a director</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form method="post" id="directorForm" action="/api/movie/director">
                        <input type="hidden" id="castMovie" name="MovieId" value="@Model.MovieId"/>
                        <div class="col-md-3">
                            <div style="padding: 10px; text-align: center; width: 95%; background-color: white;">
                                <img src="~/images/mcast.png" width="100%"/>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:#CCCCCC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque orci eget erat dignissim suscipit. Ut sagittis mi sed leo dapibus, ut tempor enim fringilla. Quisque auctor et nisi vitae scelerisque. Curabitur feugiat lorem et augue cursus, at finibus mi dictum. Integer vulputate dui id elit venenatis ultricies.</p>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Person</label>
                                        <div class="col-md-10">
                                            <select class="form-control personSearch" style="width: 100%;" ></select>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-action="Create" asp-controller="Person" asp-route-ref="@Model.MovieId" asp-route-editType="director"><button type="button" class="btn btn-default fletnix-btn pull-left" style="color: black; border: 1px solid #CCCCCC; background-color: white;">Add new person</button></a>
                <button type="button" class="btn btn-default fletnix-btn " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" onClick="addDirector()" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="awardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Add a movie award</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form method="post" id="awardForm" action="/api/movie/award">
                        <input type="hidden" id="castMovie" name="MovieId" value="@Model.MovieId"/>
                        <div class="col-md-3">
                            <div style="padding: 10px; text-align: center; width: 95%; background-color: white;">
                                <img src="~/images/mcast.png" width="100%"/>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:#CCCCCC">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque orci eget erat dignissim suscipit. Ut sagittis mi sed leo dapibus, ut tempor enim fringilla. Quisque auctor et nisi vitae scelerisque. Curabitur feugiat lorem et augue cursus, at finibus mi dictum. Integer vulputate dui id elit venenatis ultricies.</p>
                                    <br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Award</label>
                                        <div class="col-md-10">
                                            <select id="movieAwardType" class="form-control" style="width: 60%;">
                                                @foreach (var a in (List<AwardType>)ViewData["AwardTypes"])
                                                {
                                                    <option data-type="@a.Type" data-award="@a.Name">@a.Name | @a.Type</option>
                                                }
                                            </select>

                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Result</label>
                                        <div class="col-md-10">
                                            <select id="awardResult" class="form-control" style="width: 60%;">
                                                <option></option>
                                                <option value="nominated">Nominated</option>
                                                <option value="won">Won</option>
                                            </select>

                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Year</label>
                                        <div class="col-md-10">
                                            <select name="yearpicker" id="yearpicker"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Castmember</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2search" style="width: 60%;">
                                                <option></option>
                                                @foreach (var cast in Model.MovieCast)
                                                {
                                                    <option value="@cast.Person.PersonId">@cast.Person.Firstname @cast.Person.Lastname</option>
                                                }
                                            </select>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default fletnix-btn " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" onclick="addAward()" class="btn btn-default fletnix-btn fletnix-red-background" style="color: white;">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/js/selectize.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script src="~/js/Movie/Edit.js">
    </script>
    <script>

        getPoster('@Model.Title');

        $('#genreSelect').selectize({
            maxItems: 99999
        });

        @foreach (var movieGenre in Model.MovieGenre)
        {
            <text>$('#genreSelect')[0].selectize.addItem("@movieGenre.GenreName");</text>
        }


    </script>
}

