@{
    ViewData["Title"] = "Home Page";
    if (Token.User(User.Claims).Role.Equals("admin") || Token.User(User.Claims).Role.Equals("financial") || Token.User(User.Claims).Role.Equals("ceo"))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
    var watchHistory = (List<PopularMoviesViewModel>) ViewData["WatchHistory"];
    var MostPopularOfLastTwoWeeks = (List<PopularMoviesViewModel>) ViewData["MostPopularOfLastTwoWeeks"];
    var MostPopularOfAllTime =  (List<PopularMoviesViewModel>) ViewData["MostPopularOfAllTime"];
    var LatestMovies =  (List<PopularMoviesViewModel>) ViewData["LatestMovies"];
    
    PopularMoviesViewModel bigdisplay = null;
    
    if (watchHistory.Count > 0)
    {
        bigdisplay = watchHistory[0];
    } else if (MostPopularOfLastTwoWeeks.Count > 0)
    {
        bigdisplay = MostPopularOfLastTwoWeeks[0];
    }  else if (MostPopularOfAllTime.Count > 0)
    {
        bigdisplay = MostPopularOfAllTime[0];
    } else if (LatestMovies.Count > 0)
    {
        bigdisplay = LatestMovies[0];
    }
    
 
}

@using fletnix.Helpers
@using fletnix.ViewModels




@if (bigdisplay != null)
{
    <div class="container-fluid" id="mainbackdropcontainer" style="height: 55vh; width: 100%; position: relative; background-color: black; background-position: right 20px top -100px; background-size: cover; background-repeat: no-repeat; background-image: url('/images/no-backdrop.jpg')">
        <div class="row">
            <div class="col-md-9">
                <div style="margin-top: 28vh">
                    <h1 style="font-size: 55px; color: white;">@bigdisplay.Movie.Title (@bigdisplay.Movie.PublicationYear) </h1>
                    <p style="color: white;">@bigdisplay.Movie.Description</p>
                    <a asp-action="movie" asp-controller="dashboard" asp-route-id="@bigdisplay.Movie.MovieId"> <button class="btn fletnix-red-background  fletnix-btn" style="margin-top: 25px; color: white;">Continue watching</button></a>
                </div>
            </div>
        </div>
    </div>
}


@if (watchHistory.Count > 0)
{
<div class="container-fluid" style="background-color: #141414; margin-top: 50px; margin-bottom: 25px;">
    <h2 style="color: #8E8E8E; font-size: 18px; font-family: arial;">My list</h2>
    <div style="overflow-x: scroll; white-space: nowrap;">
        <div style="width: 999999px;">
            @foreach (var movie in watchHistory)
            {
                <a asp-route-id="@movie.Movie.MovieId" asp-action="movie" asp-controller="dashboard">
                    <div style="width: 350px; float: left; margin-right: 10px; margin-bottom: 30px;">
                        <div class="movie" style="position: relative; min-height: 170px; color: white; text-align: center;" data-id="@movie.Movie.MovieId" data-title="@movie.Movie.Title">
                            <div style="background-color: #141414; padding: 5px; position: absolute; z-index: 99; font-size: 16px; top: 150px; left: 10px; color: #8E8E8E;">@movie.Movie.Title</div>
                            <img class="movie-poster-@movie.Movie.MovieId" src="~/images/no-backdrop.jpg" style="width: 100%;"/>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
}

@if (MostPopularOfLastTwoWeeks.Count > 0)
{
<div class="container-fluid" style="background-color: #141414; margin-top: 15px;">
    <h2 style="color: #8E8E8E; font-size: 18px; font-family: arial;">Most popular movies of the last two weeks</h2>
    <div style="overflow-x: scroll; white-space: nowrap;">
        <div style="width: 999999px;">
            @foreach (var movie in MostPopularOfLastTwoWeeks)
            {
                <a asp-route-id="@movie.Movie.MovieId" asp-action="movie" asp-controller="dashboard">
                    <div style="width: 350px; float: left; margin-right: 10px; margin-bottom: 30px;">
                        <div class="movie" style="position: relative; min-height: 170px; color: white; text-align: center;" data-id="@movie.Movie.MovieId" data-title="@movie.Movie.Title">
                            <div style="background-color: #141414; padding: 5px; position: absolute; z-index: 99; font-size: 16px; top: 150px; left: 10px; color: #8E8E8E;">@movie.Movie.Title</div>
                            <img class="movie-poster-@movie.Movie.MovieId" src="~/images/no-backdrop.jpg" style="width: 100%;"/>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
}

<div class="container-fluid" style="background-color: #141414; margin-top: 15px;">
    <h2 style="color: #8E8E8E;  font-size: 18px; font-family: arial;">Most popular movies of all time</h2>
    <div style="overflow-x: scroll; white-space: nowrap;">
        <div style="width: 999999px;">
            @foreach (var movie in MostPopularOfAllTime)
            {
                <a asp-route-id="@movie.Movie.MovieId" asp-action="movie" asp-controller="dashboard">
                    <div style="width: 350px; float: left; margin-right: 10px; margin-bottom:30px;">
                        <div class="movie" style="position: relative; min-height: 170px; color: white; text-align: center;" data-id="@movie.Movie.MovieId" data-title="@movie.Movie.Title">
                            <div style="background-color:#141414; padding: 5px; position: absolute; z-index: 99; font-size: 16px; top: 150px; left: 10px; color:  #8E8E8E;">@movie.Movie.Title</div>
                            <img class="movie-poster-@movie.Movie.MovieId" src="~/images/no-backdrop.jpg" style="width: 100%;"/>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #141414; margin-top: 15px;">
    <h2 style="color: #8E8E8E;  font-size: 18px; font-family: arial;">Latest movies</h2>
    <div style="overflow-x: scroll; white-space: nowrap;">
        <div style="width: 999999px;">
            @foreach (var movie in LatestMovies)
            {
                <a asp-route-id="@movie.Movie.MovieId" asp-action="movie" asp-controller="dashboard">
                    <div style="width: 350px; float: left; margin-right: 10px; margin-bottom:30px;">
                        <div class="movie" style="position: relative; min-height: 170px; color: white; text-align: center;" data-id="@movie.Movie.MovieId" data-title="@movie.Movie.Title">
                            <div style="background-color:#141414; padding: 5px; position: absolute; z-index: 99; font-size: 16px; top: 150px; left: 10px; color:  #8E8E8E;">@movie.Movie.Title</div>
                            <img class="movie-poster-@movie.Movie.MovieId" src="~/images/no-backdrop.jpg" style="width: 100%;"/>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {

            $(".movie").each(function(index) {
                getPoster($(this).data('id'), $('.movie-poster-' + $(this).data('id')), $(this).data('title'));
            });
            
            @if (bigdisplay != null)
            {
                <Text>
                getPoster(null,null,'@bigdisplay.Movie.Title',function(path) {
                    $('#mainbackdropcontainer').css('background-image', 'url(https://image.tmdb.org/t/p/w1920/' + path + ')');
                });
                </Text>
            }
            
        });
    </script>
}