@using fletnix.Helpers
@{
    if(String.Equals(@Context.Request.Path.ToString(), "/".ToString(), StringComparison.Ordinal)) {
        ViewData["navbg"] = "transparent" ;
        ViewData["footerColor"] = "white" ;
    } else {
        ViewData["navbg"] = "";
        ViewData["footerColor"] = "black";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fletnix</title>

    <link rel="stylesheet" href="~/lib/components-font-awesome/css/font-awesome.css" />		
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">		
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Stylesheets", required:false)

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:@ViewData["navbg"]; padding-right:20px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><h1 class="fletnix-red-font" style="margin-top:0px; font-size:50px;">FLETNIX</h1></a>
    </div>

    <div class="navbar-collapse collapse">
        <!--<ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>-->
    </div>
				
    <ul class="nav navbar-nav navbar-right" style="margin-right:15px; margin-top:-30px;">

        <li>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="fletnix-red-background" asp-controller="Auth" asp-action="Login" style="font-weight: 400; font-size: 16px; color: white; border-radius: 5px; padding: 7px 17px 7px 17px;">Sign in</a>
        }
        else
        {
            <div class="pull-right" >
            <div class="row" style="margin-top: -7px; margin-left: -25px;">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center" style="color: white; padding-top: 15px;">
                    <div style="margin-left: 15px;"> @User.Identity.Name </div>
                </div>
                <div class="col-md-2">
                    <img src="~/images/mcast.png" style="width: 65%"/>
                </div>
                <div class="col-md-1">
                    <a asp-controller="Auth" asp-action="Logout"><button class="btn fletnix-red-background" style="margin-top: 10px; color: white; border: 0px; border-radius: 0px;">Logout</button></a>
                </div>
            </div>
            </div>
        }
        </li>

    </ul>
</nav>

@RenderSection("NavSupplement",required:false)

		
@RenderBody()
        <footer>
			<div class="pull-right" style="padding-left:15px;">
                <p style="color:@ViewData["footerColor"]">&copy; 2017 - fletnix - <a asp-controller="Home" asp-action="Contact">Contact us</a></p>
			</div>
        </footer>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
