@using fletnix.Helpers
@{
    if (!@User.Identity.IsAuthenticated)
    {
        if (String.Equals(@Context.Request.Path.ToString(), "/".ToString(), StringComparison.Ordinal))
        {
            ViewData["navbg"] = "transparent";
            ViewData["footerColor"] = "white";
        }
        else
        {
            ViewData["navbg"] = "";
            ViewData["footerColor"] = "black";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fletnix</title>

    <link rel="stylesheet" href="~/lib/components-font-awesome/css/font-awesome.css" />		
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">		
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Stylesheets", required:false)

</head>
<body @if (@User.Identity.IsAuthenticated)
      {
          <text>style="background-color: black; overflow-x: hidden;"</text>
      }>

<span id="AntiForgery"> @Html.AntiForgeryToken() </span>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: @ViewData["navbg"]; padding-right: 20px;">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <h1 class="fletnix-red-font" style="margin-top: 0px; font-size: 50px;">FLETNIX</h1></a>
    </div>

    <div class="navbar-collapse collapse">
        <!--<ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>-->
    </div>


    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px; margin-top: -30px;">

        @if (User.Identity.IsAuthenticated)
        {
            <li style="margin-top: -7px; width: 400px; padding-right: 25px;"><input id="searchMovies" style="border: 1px solid #141414; color: #CCCCCC; background-color: black; margin-top: 10px; width: 100%;" class="form-control" type="text" placeholder="Search..."></li>
            <li style="margin-top: -7px;"><a style="color: white;" asp-controller="Home" asp-action="Index">Movies</a></li>
            <li style="margin-top: -7px;"><a style="color: white;" asp-controller="watchhistory" asp-action="Index">Watch history</a></li>



            <li>
                <div style="margin-top: -7px; margin-left: -25px;">

                    <div class="text-center" style="padding-left: 25px; padding-right: 10px; display: inline-block; color: white; padding-top: 15px;">
                        <div style="margin-left: 15px;"> @User.Identity.Name </div>
                    </div>
                    <div style="padding-left: 10px; padding-right: 25px; display: inline-block;">
                        <img src="~/images/mcast.png" style="width: 50px"/>
                    </div>
                    <div style="display: inline-block;">
                        <a asp-controller="Auth" asp-action="Logout"><button class="btn fletnix-red-background" style="color: white; border: 0px; border-radius: 0px;">Logout</button></a>
                    </div>
                </div>
            </li>
        }


        @if (!User.Identity.IsAuthenticated)
        {
            <li><a class="fletnix-red-background" asp-controller="dashboard" asp-action="index" style="font-weight: 400; font-size: 16px; color: white; border-radius: 5px; padding: 7px 17px 7px 17px;">Sign in</a></li>
        }
    </ul>

</nav>

@RenderSection("NavSupplement", required: false)

<div id="searchResult" style="position: fixed; top: 60px; z-index: 9997; background-color: black; opacity: .9; display: none; width: 100vw; height: 100vh"></div>
<div id="searchResultListing" style="position: fixed; top: 120px; overflow-y: scroll; padding-left: 50px; z-index: 9998; width: 100vw; display: none; height: 100vh">

</div>

<a class="movieSearchLink" href="" style="display: none;">
    <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 15px; padding-top: 15px;">
        <div class="col-md-1">
            <div style="background-color: white; padding: 4px;">
                <img src="~/images/alien-covenant-2017-cover.png" width="100%"/>
            </div>
        </div>
        <div class="col-md-10">
            <h2 style="color: white;" class="movieTitleSearch">Alien Covenant (2017)</h2>
            <p  style="color: white; "class="movieDescripSearch">Lorem ipsum</p>
        </div>
        <div class="col-md-1">
            <h3 style="color: white;"><span class="movieVoteAvg"></span><span> / 10</span></h3>
        </div>
    </div>
</a>

@RenderBody()
<footer>
    <div class="pull-right" style="padding-left: 15px;">
        <p style="color: @ViewData["footerColor"]">&copy; 2017 - fletnix - <a asp-controller="Home" asp-action="Contact">Contact us</a>
        </p>
    </div>
</footer>


<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)

<script>
    $(document).ready(function(){
    var timeoutID = null;

    function findMovie(str) {
              
        $.ajax({
            url: "/api/movies/search/"+str,
            type: "GET",
            beforeSend: (xhr) => {
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('RequestVerificationToken', $("#AntiForgery input").val());
            },
            dataType: 'json',
            success: function(res) {
                console.log("AMOUNT", res.length);
                console.log(res);
                $('#searchResultListing').empty();
                        
                for(var i = 0; i <res.length; i++) {
                    var e = res[i];
                    var movie = $(".movieSearchLink").clone();
                    getPoster(null,
                        null,
                        e.title,
                        function(s, b, data) {
                            if (b.vote_average != undefined) {
                                data.movie.find('.movieVoteAvg').text(b.vote_average);
                            } else {
                                data.movie.find('.movieVoteAvg').empty();
                            }
                            data.movie.find('img').attr('src', 'https://image.tmdb.org/t/p/w500/' + s);
                            data.movie.find('.movieTitleSearch').text(data.e.title + ' (' + data.e.publicationYear + ')');
                            data.movie.find('.movieDescripSearch').text(data.e.description);
                           
                            data.movie.css('display', 'block');
                            data.movie.attr('href', '/Dashboard/Movie/'+data.e.movieId);

                            $('#searchResultListing').append(data.movie);
                        },
                        true,{movie:movie, e:e});

                };
                        
                $('#searchResult').fadeIn('fast', function() {
                    $('#searchResultListing').fadeIn('fast');
                });
            }
        });
    }

    $('#searchMovies').keyup(function(e) {
        clearTimeout(timeoutID);
        timeoutID = setTimeout(findMovie.bind(undefined, e.target.value), 500);
    });
            
    $(document).keyup(function(e) {
        if (e.keyCode == 27) { // escape key maps to keycode `27`
            $('#searchResultListing').fadeOut('fast', function() {
                $('#searchResult').fadeOut('fast');
            });
        }
    });
            
    });

    function getPoster(id, element, title, cb, poster, data) {
        if (poster == undefined) poster = false;
        var path = 'backdrop_path';
        if (poster == true) {
            path = 'poster_path';
        }
        $.get('https://api.themoviedb.org/3/search/movie?api_key=8f3879e8c91096e1e468cf6c539dc1e7&query=' +
            encodeURI(title),
            (res) => {
                if (res.results[0]) {
                    if (res.results[0][path]) {
                        //poster_path
                        if (cb) {
                            cb(res.results[0][path], res.results[0], data);
                        } else {
                            element.attr('src', 'https://image.tmdb.org/t/p/w500/' + res.results[0][path]);
                        }

                    }
                } else {
                    if (cb) {
                        cb('/images/no-backdrop.jpg');
                    } else {
                        element.attr('src', '/images/no-backdrop.jpg');
                    }
                }
            });
    }
</script>

</body>
</html>
